<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Tirer pour rafraîchir" refreshingSpinner="circles"
      refreshingText="Chargement...">
    </ion-refresher-content>
  </ion-refresher>

  <div>
    <ion-list>

      <ath-media-notif-toggle [media]="currentMedia"></ath-media-notif-toggle>
      <ath-donation></ath-donation>
      <ath-loader [loading]="loading"></ath-loader>
      <ath-content-list *ngIf="page" [contents]="page.objects"></ath-content-list>

    </ion-list>
  </div>



  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Chargement ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
