<div class="migration-banner" *ngIf="banner$ | async as banner">
  <button
    type="button"
    class="dismiss"
    aria-label="Fermer"
    (click)="dismiss()"
  >
    <ion-icon name="close-outline"></ion-icon>
  </button>

  <div class="content">
    <div class="headline">
      <ion-icon name="sparkles-outline" class="lead-icon"></ion-icon>
      <div class="texts">
        <strong class="title">{{ banner.title }}</strong>
        <p class="message">{{ banner.message }}</p>
      </div>
    </div>

    <div class="actions">
      <ion-button size="small" fill="solid" color="primary" (click)="discover()">
        {{ banner.ctaLabel }}
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</div>
