:host {
  --color: white;

  .right-fixed {
    //right: 0px;
  }

  span {
    p {
      margin-top: 0px;
    }
  }

  ath-reading-progress {
    position: fixed;
    bottom: calc(0.5rem + env(safe-area-inset-bottom));
    left: 0;
    right: 0;
    z-index: 10;
  }
}
