:host {
  --color: white;

  .right-fixed {
    //right: 0px;
  }

  span {
    p {
      margin-top: 0px;
    }
  }

  ath-reading-progress {
    position: fixed;
    bottom: 0.5rem;
    width: 100%;
  }
}
