<ion-content athDblclick (athDblclick)="scrollTop()" [scrollEvents]="true" (ionScroll)="onScroll($any($event))">
  <div *ngIf="hasPodcast" class="podcast-cta">
    <ion-button expand="block" color="primary" (click)="navigateToPodcast()">
      <ion-icon name="headset-outline" slot="start"></ion-icon>
      Écouter le podcast
    </ion-button>
  </div>

  <span *ngIf="content?.contentType" [ngSwitch]="content.contentType">
    <p *ngSwitchCase="'YOUTUBE'">
      <ath-video-details [video]="$any(content)"></ath-video-details>
    </p>
    <p *ngSwitchDefault>
      <ath-article-details [post]="$any(content)" [key]="key"></ath-article-details>
    </p>
  </span>

  <ath-reading-progress [progress]="readingProgress"></ath-reading-progress>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button class="share-fab" shape="round" color="primary" (click)="shareContent()">
      <ion-icon name="share-social-outline" slot="start"></ion-icon>
      Partager
    </ion-button>
  </ion-fab>

</ion-content>
