<ion-content>

  <ion-slides pager="true">
    <ion-slide>

      <img class="back tuto1" src="assets/tuto1.svg" alt="">

      <div class="body">
        <h1>
          Se nourrir <br> d'indépendance
        </h1>

        <p>
          Athena regroupe les médias indépendants, une brique essentielle pour une analyse plus fine du monde qui nous
          entoure
        </p>
      </div>

    </ion-slide>
    <ion-slide>

      <img class="back back-bottom" src="assets/tuto2.svg" alt="">

      <div class="body">
        <h1>
          Vous êtes pilote
        </h1>

        <p>
          Vous décidez de la direction que prend l'application.
          <br>
          Athena est open source et demandeuse de nouvelles idées !
        </p>
      </div>


    </ion-slide>
    <ion-slide>

      <img class="back top-left" src="assets/tuto31.svg" alt="">

      <div class="body">
        <p>
          Recevoir des notifications, consulter des articles, des vidéos
        </p>
        <p>
          Poster des idées ...
        </p>

        <h2>
          Où est-ce que cela pourra bien nous mener ?
        </h2>
      </div>

      <img class="back back-bottom" src="assets/tuto32.svg" alt="">
    </ion-slide>
  </ion-slides>

  <ion-button shape="round" fill="clear" (click)="next()">Suivant</ion-button>
</ion-content>
