<ion-content>


  <div class="quote-bloc">
    <div class="quote-text">
      Athéna est la déesse de la sagesse. En tant que
      protectrice d'Athènes elle est associée la liberté et la démocratie.
    </div>
    <div class="quote-source">Wikipedia</div>
  </div>



  <div class="text">
    Athena regroupe les contenues essentiels des médias indépendants.
    <br>
    Mais sa raison d'être réside en son pilotage par les usagers.
  </div>
  <img src="assets/info1.svg" />

  Toutes personnes voulant contribuer directement (dev, designer, ...)
  rendez-vous ici: <a href="https://www.athena-app.fr/"> athena-app</a>

  <br>
  <br>
  Pour les autres, vos idées sont bienvues, postez les  😉

  <br>
  <br>
  L'application mobile a été réalisée avec Ionic/Angular et la partie serveur fonctionne avec NestJS.

   <a href="https://www.athena-app.fr/privacy"> Politique de confidentialité </a>

</ion-content>
