<ion-content>

  <ion-slides pager="true">
    <ion-slide>

      <div class="bloc-container">
        <div class="image-container">
          <img id="fusion" src="assets/fusion.svg" />
        </div>
        <ion-text>Athena regroupe sur une plateforme le contenu de différents médias libres</ion-text>
      </div>

      <div class="bloc-container">
        <div class="image-container">
          <img src="assets/notification.svg" />
        </div>
        <ion-text>Elle vous garde alerté pour que vous ne loupiez pas d'information importante</ion-text>
      </div>

      <div class="bloc-container">
        <div class="image-container">
          <img src="assets/mobile.svg" />
        </div>
        <ion-text>Elle permet un accès simple et ergonomique au contenu</ion-text>
      </div>

    </ion-slide>
    <ion-slide>
      <div class="bloc-container">
        <div class="image-container">
          <img  src="assets/debate.svg" />
        </div>
        <ion-text>Mais en réalité l'idée derrière Athena est de faire un outil democratique </ion-text>
      </div>
      <div class="bloc-container">
        <div class="image-container">
          <img  src="assets/vote.svg" />
        </div>
        <ion-text>Ou chacun peut voter et proposer des idées d'améliorations </ion-text>
      </div>
      <div class="bloc-container">
        <div class="image-container">
          <img src="assets/open-source-logo.svg" />
        </div>
        <ion-text>Le tout Open source ou tout le monde peut contribuer </ion-text>
      </div>

    </ion-slide>
    <ion-slide>
      <h1>Awesome Slide Content</h1>
    </ion-slide>

  </ion-slides>
</ion-content>
