<ion-card
  class="masonry-item"
  routerLink="/media/{{ metaMediaKey }}/details/{{ article.id }}"
>
  <ath-img [img]="article.image"></ath-img>
  <ion-card-header>
    <ion-card-title [innerHTML]="article.title"></ion-card-title>
    <div class="info">
      <ion-card-subtitle
        >Publiée le {{ article.publishedAt | date: "dd/MM/y" }}
      </ion-card-subtitle>
      <ion-badge *ngIf="isNew" color="dark">Nouveau</ion-badge>
      <ion-badge *ngIf="isRead" color="medium">Lu</ion-badge>
    </div>
  </ion-card-header>
</ion-card>
