ion-tabs {
  background-color: transparent;
}

ion-tab-bar {
  --background: rgba(15, 32, 39, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  margin: 1.5%;
  padding: 0;
  position: fixed;
  bottom: 0px;
  width: 97%;
  height: 10vh;
  overflow: hidden;

  &.ios {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  ion-label {
    font-size: 0, 8rem;
    font-family: RobotoBlack;
  }
}
