<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="analysis">
      <ion-icon name="fitness"></ion-icon>
      <ion-label>Analyses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="guide">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Fiches</ion-label>
    </ion-tab-button>
 -->
    <ion-tab-button tab="construction">
      <ion-icon name="hammer"></ion-icon>
      <ion-label>Construction</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
