<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Journal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="construction">
      <ion-icon name="hammer"></ion-icon>
      <ion-label>Construction</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="informations">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Information</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
