<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="newspaper-outline"></ion-icon>
      <!-- <ion-label>Journal</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>Accueil</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="propositions">
      <ion-icon name="document-text-outline"></ion-icon>
      <!-- <ion-label>Propositions</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="construction">
      <ion-icon name="hammer-outline"></ion-icon>
      <!-- <ion-label>Construction</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="informations">
      <ion-icon name="information-circle-outline"></ion-icon>
      <!-- <ion-label>Information</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
