:host {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;

  .progress-container {
    height: 0.5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }

  .progress-bar {
    height: 100%;
    width: 0%;
    background-color: var(--ion-color-primary);
    border-radius: 10px;
    transition: width 0.1s ease-out;
  }
}
