#title {
  --inner-padding-start: 0.5rem;
  --inner-padding-end: 0.5rem;
  --padding-start: 0;
  --padding-end: 0.5rem;
  margin-left: 0px;
}

.inline-back-button{
  display: block;
  margin-right: 0px;
}

.ios{
  ion-back-button{
    padding: 0.35rem;
  }
}
