#title {
  --inner-padding-start: 0.5rem;
  --inner-padding-end: 0.5rem;
  --padding-start: 0;
  --padding-end: 0.5rem;
  margin-left: 0px;
}

ion-back-button{
  --padding-bottom: 0.35rem;
  --padding-top: 0.65rem;
  --padding-end: 0.8rem;
  --padding-start: 0.8rem;
}
.inline-back-button{
  display: block;
  margin-right: 0px;
}

