ion-content {
  --padding-top: 50px;
}
#form-issue {
  #btn-container {
    width: 100%;
    text-align: center;
  }
}


.alert-danger{
  color: red;
  font-size: 0.8rem;
}

.radio-alert{
  margin-left: 1rem;
}
