<ion-content>

  <ath-header-modal [title]="'Amélioration'"></ath-header-modal>

  <form id="form-issue" #form="ngForm" [formGroup]="validateForm" (ngSubmit)="validateForm.valid && postIssue()">



    <ion-list>
      <ion-item>
        <ion-label class="roboto-black" color="primary" position="floating">Titre</ion-label>
        <ion-input id="title" type="text" formControlName="title"></ion-input>
        <div *ngIf="title.invalid && form.submitted"  class="alert alert-danger">
          <div *ngIf="title?.errors?.required">
            Le titre est obligatoire
          </div>
          <div *ngIf="title?.errors.minlength">
            Le titre doit faire au moins 10 caractères
          </div>
          <div *ngIf="title?.errors.maxlength">
            Le titre peut faire au maximum 80 caractères
          </div>
        </div>
      </ion-item>


      <ion-item>
        <ion-label class="roboto-black" color="primary" position="floating">Description</ion-label>
        <ion-textarea formControlName="body"></ion-textarea>
        <div *ngIf="body.invalid && form.submitted"  class="alert alert-danger">
          <div *ngIf="body?.errors?.required">
            La description est obligatoire
          </div>
          <div *ngIf="body?.errors.minlength">
            La description doit faire au moins 10 caractères
          </div>
          <div *ngIf="body?.errors.maxlength">
            Le titre peut faire au maximum 700 caractères
          </div>
        </div>
      </ion-item>

      <ion-radio-group color="primary" formControlName="labels">
        <ion-list-header>
          <ion-label color="primary">
            Vous souhaitez:
          </ion-label>

        </ion-list-header>

        <ion-item>
          <ion-label>Signaler un bug</ion-label>
          <ion-radio value="bug"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Proposer une fonctionalité</ion-label>
          <ion-radio value="feature"></ion-radio>
        </ion-item>
        <div *ngIf="labels.invalid && form.submitted"  class="radio-alert alert-danger">
            <div *ngIf="labels?.errors?.required">
              Vous devez choisir une catégorie
            </div>
          </div>
      </ion-radio-group>
    </ion-list>
    <div id="btn-container">
      <ion-button type="submit">
        Envoyer
      </ion-button>
    </div>
  </form>



</ion-content>
