<ion-app>
  <ion-split-pane>

    <ion-menu>
      <ion-content>
        <img src="assets/menu.png" alt="image_menu">
        <ion-list>
          <ion-list-header>
            Presse écrite
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="'/media/'+i" routerLinkActive="active" routerDirection="root">
              <ion-avatar slot="start" class="border-solid">
                <img [src]="p.logo">
              </ion-avatar>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-list-header>
            A propos
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="'/informations'" routerLinkActive="active" routerDirection="root">
              <ion-label>
                Informations
              </ion-label>
              <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>
