<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content">
      <ion-content>
        <img id="image-menu" src="assets/menu.png" alt="image_menu">
        <ion-list>
          <ng-container *ngFor="let lstMetaMedia of appPages; let i = index">
              <ion-list-header class="roboto">
                  {{lstMetaMedia.title}}
                </ion-list-header>
                <ion-menu-toggle autoHide="false" *ngFor="let metaMedia of lstMetaMedia.metaMedias" >
                  <ion-item [routerLink]="'/media/'+metaMedia.key" routerLinkActive="active" routerDirection="root">
                    <ion-avatar slot="start" class="border-solid">
                      <img [src]="metaMedia.logo">
                    </ion-avatar>
                    <ion-label>
                      {{metaMedia.title}}
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
          </ng-container>


          <ion-list-header class="roboto">
            A propos
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="'/informations'" routerLinkActive="active" routerDirection="root">
              <ion-label>
                Informations
              </ion-label>
              <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            </ion-item>
            <ion-item (click)="openPrivacy()">
              <ion-label>
                Privacy policy
              </ion-label>
              <ion-icon name="lock" slot="start"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
