<ion-content>

  <div class="page-top">
    <ath-section title="Améliorations"></ath-section>
    <ion-button fill="clear" (click)="openMoreMenu()" class="more-button" aria-label="Plus">
      <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
    </ion-button>
  </div>


  <ion-segment [value]="issueType" mode="md" (ionChange)="issueTypeChanged($event)">
    <ion-segment-button value="media">
      <ion-label>Média</ion-label>
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="feature">
      <ion-label>Idées</ion-label>
      <ion-icon name="bulb"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bug">
      <ion-label>Bugs</ion-label>
      <ion-icon name="bug"></ion-icon>
    </ion-segment-button>
  </ion-segment>


  <ath-loading [loading]="loading">
    <ath-issues-list [issues]="issues" (claped)="clap($event)" (downvoted)="downvote($event)"></ath-issues-list>
  </ath-loading>


  <ion-button (click)="openCreateModal()" expand="block" fill="clear" shape="round">
    {{issueType === 'bug' ? 'Signaler un bug' : issueType ==='feature' ? 'Poster une idée' : 'Proposer un média'}}
  </ion-button>



</ion-content>
