:host {
  ion-content {

    ion-segment {
      margin-bottom: 2rem;

      ion-segment-button {
        --color: rgba(255, 255, 255, 0.6);
        --color-checked: var(--ion-color-primary);

        ion-icon {
          color: inherit;
        }
      }
    }

    ath-section {
      margin: 2rem;
      display: block;
    }

    ath-create-issue {
      display: block;
      margin-top: 1rem;
    }

  }
}
