<ion-content>

  <ath-section title="Améliorer Athena"></ath-section>


  <ion-segment [value]="issueType" (ionChange)="issueTypeChanged($event)">
    <ion-segment-button value="feature">
      <ion-label>Idées</ion-label>
      <ion-icon name="bulb"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bug">
      <ion-label>Bugs</ion-label>
      <ion-icon name="bug"></ion-icon>
    </ion-segment-button>
  </ion-segment>


  <ath-loading [loading]="loading">
    <ath-issues-list [issues]="issues"></ath-issues-list>
  </ath-loading>



  <ath-create-issue [type]="issueType" (issueCreated)="sendIssue($event)" ></ath-create-issue>


</ion-content>
