:host {
  ion-content {

    .page-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px 0 12px;

      ath-section {
        flex: 1;
        min-width: 0;
        margin: 1.6rem 0;
      }

      .more-button {
        flex-shrink: 0;

        ion-icon {
          font-size: 1.35rem;
          color: var(--ath-text-dim);
        }
      }
    }

    ion-segment {
      margin-bottom: 2rem;
    }

    ath-section {
      margin: 2rem;
      display: block;
    }

    ath-create-issue {
      display: block;
      margin-top: 1rem;
    }

  }
}
