<!-- <ion-item *ngIf="!post?.videoID" id="header" slot="fixed" lines="none">
  <ion-back-button slot="start" class="back-button" [text]="''" defaultHref="home"></ion-back-button>
</ion-item> -->

<ath-video-header ></ath-video-header>
<img *ngIf="!post?.videoID && post.image?.url" [src]="post.image?.url" [alt]="post.embedded.featuredmedia[0].title">

<ath-youtube-iframe *ngIf="post?.videoID" [videoID]="post.videoID"></ath-youtube-iframe>

<div id="full-article">
  <ath-moon-mode></ath-moon-mode>
  <h2 [innerHTML]="post?.title"></h2>
  <div class="article-content" [innerHTML]="post?.content.rendered">
  </div>
</div>
