<ath-video-header></ath-video-header>
<img *ngIf="!post?.videoID && post.image.url" [src]="post.image.url" [alt]="post.embedded.featuredmedia[0].title" />

<ath-youtube-iframe *ngIf="post?.videoID" [videoID]="post.videoID"></ath-youtube-iframe>

<div id="full-article">

  <div class="action-menu">


    <ath-article-audio-reader *ngIf="audio$ | async as audioContentUrl" [audioContentUrl]="audioContentUrl">
    </ath-article-audio-reader>

    <div class="separator"></div>

    <ath-moon-mode></ath-moon-mode>

  </div>

  <h2 [innerHTML]="post.title"></h2>

  <div class="article-metadata">
    <span class="published-date">Publié le {{ post.publishedAt | date: "dd/MM/y" }}</span>
    <span *ngIf="mediaName" class="author"> par {{ mediaName }}</span>
  </div>

  <div class="article-content" [innerHTML]="post.content.rendered"></div>
</div>
