<ion-button *ngIf="playerState === 'stop'" class="audio-btn" fill="clear" (click)="playAudio()">
  <ion-icon slot="start" name="play-circle"></ion-icon>
  Version audio
</ion-button>
<ion-button *ngIf="playerState === 'playing'" class="audio-btn" fill="clear" (click)="pauseAudio()">
  <ion-icon slot="start" name="pause-circle"></ion-icon>
  Pause
</ion-button>
<ion-button *ngIf="playerState === 'paused'" class="audio-btn" fill="clear" (click)="resumeAudio()">
  <ion-icon slot="start" name="play-circle"></ion-icon>
  Reprendre
</ion-button>
