<ion-content>

  <!-- MEDIA PART -->

  <!-- <ath-loader [loading]="loading"></ath-loader> -->

  <ion-item id="header-item" lines="none">
    <ion-button slot="start" fill="clear" size="small">
      <ion-menu-button color="light" autoHide="false"></ion-menu-button>
    </ion-button>
    <ion-label id="main-title">Athena</ion-label>
  </ion-item>

  <div *ngFor="let lstMetaMedia of listMetaMedia">
    <ath-horizontal [listMetaMedia]="lstMetaMedia"></ath-horizontal>
  </div>





</ion-content>
