:host {
  ion-content {
    --padding-top: var(--ath-top-padding);
    --padding-bottom: var(--ath-top-bottom);


    #header-item{
      --padding-start: 0px;
      #main-title{
        font-family: RobotoBlack;
        font-size: 2rem;
      }
    }

    ath-card {
      display: inline;
    }

    ion-button {
      --padding-end: 0px;
      --padding-start: 0px;
      --background: rgba(0, 0, 0, 0);
      margin-left: 0.5rem;
    }

    ion-reorder-group{
      margin-top: 4rem;
      display: block;
    }
  }
}
