:host {
  width: 100vw;

  ion-item {
    --background: transparent !important;
    align-items: center;
  }



  @media screen and (max-width: 450px) {
    #title {
      font-size: 1.5rem;
      --ion-font-family: RobotoBlack;
    }
  }

}

