.masonry-item {
  background-color: white;
  color: black;

  h3,
  h5 {
    padding: 0;
    margin: 10px;
  }

  h3 {
    font-size: 0.8rem;
  }

  h5 {
    color: #444444;
    font-size: 0.65rem;
  }

}
