:host {
  display: inline-block;
  height: 7rem;
  .section {
    margin: 0;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }

  #container {
    width: 360px;
    overflow: hidden;
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }

    #scroll {
      overflow: auto;
    }
  }
}
