// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




body {
  --primaryColor: #000000;
  --primaryLightColor: #cfe8fa;
  --primaryDarkColor: #0b4872;
  --primaryTextColor: #ffffff;
  --primaryLightTextColor: #000000;
  --primaryDarkTextColor: #ffffff;

  --accentColor: #647985;
  --accentLightColor: #f3f5f6;
  --accentDarkColor: #7f939e;
  --accentTextColor: #ffffff;
  --accentLightTextColor: #000000;
  --accentDarkTextColor: #ffffff;

  --warnColor: #b00020;
  --warnTextColor: #ffffff;
}

.ion-color-primary {
  background-color: var(--primaryColor) !important;
  .toolbar-background {
    background-color: var(--primaryColor) !important;
  }
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("./assets/fonts/roboto/Roboto-Black.ttf");
}



.roboto {
  font-family: "Roboto";
}

.article-content {
  text-align: justify;
  img {
    width: 100%;
    height: auto;
  }
}

#ath-header {
  ion-toolbar {
    padding-top: 0;
  }
  .title-ios {
    padding: 0 5rem !important;
    .toolbar-title-ios {
      text-align: left;
    }
  }
  ion-title {
    color: inherit;
    font-size: 3.5rem;
    color: inherit;
    font-weight: 800;
  }
  @media (max-width: 330px) {
    ion-title {
      font-size: 3rem;
    }
  }
  // button {
  //   .button-inner {
  //     color: inherit;
  //   }
  //   color: inherit;
  //   margin: 0; // margin-top: -2.5rem !important;
  //   ion-icon::before {
  //     color: inherit;
  //     font-size: 3.5rem;
  //   }
  // }
}
