// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  outline: none;
}

body {
  --background: #000000;
  --ion-background-color: linear-gradient(to right,
      #485563,
      #29323c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --ion-text-color: white;

  --primaryColor: #000000;
  --primaryLightColor: #cfe8fa;
  --primaryDarkColor: #0b4872;
  --primaryTextColor: #ffffff;
  --primaryLightTextColor: #000000;
  --primaryDarkTextColor: #ffffff;

  --accentColor: #647985;
  --accentLightColor: #f3f5f6;
  --accentDarkColor: #7f939e;
  --accentTextColor: #ffffff;
  --accentLightTextColor: #000000;
  --accentDarkTextColor: #ffffff;
  --warnColor: #b00020;
  --warnTextColor: #ffffff;
  --color: white !important;
}

ion-content {
  --padding-top: var(--ath-top-padding);
  --padding-bottom: var(--ath-bottom-padding);
}

.masonry-item {
  margin: 10px;
}

@media screen and (max-width: 335px) {
  .masonry-item {
    margin: 5px;
  }
}

.alert-wrapper {
  .alert-head {
    --ion-text-color: white;
  }

  .alert-message {
    color: #CCCCCC;
  }
}

ion-back-button {
  button {
    span {
      ion-icon {
        color: --ion-text-color !important;
      }
    }
  }
}

@font-face {
  font-family: "RobotoBlack";
  font-weight: 900;
  font-style: normal;
  src: url("./assets/fonts/roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: "RobotoRegular";
  font-weight: 900;
  font-style: normal;
  src: url("./assets/fonts/roboto/Roboto-Regular.ttf");
}

h2 {
  font-family: "RobotoBlack";
  // margin-left: 0.5rem;
}

.roboto-black {
  font-family: "RobotoBlack";
}

.roboto-regular {
  font-family: "RobotoRegular";
}

.article-content {
  font-family: RobotoRegular;
  text-align: left;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  img {
    margin-left: -1rem;
    max-width: none;
    width: 110%;
    height: auto;
  }
}


ion-modal {
  --max-height: 90vh !important;
  --border-radius: 16px 16px 0 0 !important;
  align-items: flex-end !important;

}



.swiper-pagination {
  bottom: 4.5% !important
}
