:host {
  ion-content {
    --padding-top: 50px;

    #fleche {
      width: 80%;
      height: auto;
      margin-top: 10rem;
      margin-left: -1rem;
    }

    ath-card {
      display: inline;
    }

    ion-button {
      --padding-end: 0px;
      --padding-start: 0px;
      --background: rgba(0, 0, 0, 0);
      margin-left: 0.5rem;
    }
  }
}
