:host {
  ion-content {
    --padding-top: 50px;

    #fleche{
      width: 80%;
      height: auto;
      margin-top: 10rem;
      margin-left: -1rem;
    }

    ath-card {
      display: inline;
    }
  }


  animation: opac 1s  1s 10 direction fill-mode;


}
