<ion-content>
  <div>

    <h2 class="section">
      Presse écrite
    </h2>

    <ion-grid>
      <ion-row flex-wrap="wrap-reverse">
        <ion-col align-self="baseline" *ngFor="let media of medias; let i=index">
          <ion-card class="card-media" [routerLink]="'/media/'+i" routerLinkActive="active" routerDirection="root"
            button>
            <!-- FILTRE OPAQUE -->
            <div class="grad"></div>
            <!-- PHOTO MEDIA -->
            <img [src]="media.logo" alt="media.title">
            <div class="media-name">{{media.title}}</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <img id="fleche" src="assets/tirer.png" alt="tirer">




  </div>
</ion-content>
