<ion-content>
  <ion-item id="header-item" lines="none">
    <ion-button slot="start" fill="clear" color="light" size="small">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-button>
    <ion-label id="main-title">Athena</ion-label>
    <ion-button slot="end" fill="clear" color="light" size="small">
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
  </ion-item>

  <div *ngFor="let lstMetaMedia of listMetaMedia">
    <ath-horizontal [listMetaMedia]="lstMetaMedia"></ath-horizontal>
  </div>

  <ath-reorder></ath-reorder>



    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="createIssue()">
        <ion-icon name="hammer"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>





<!--
<ath-horizontal *ngFor="let lstMetaMedia of listMetaMedia" [title]="lstMetaMedia.title">
  <ath-card *ngFor="let metaMedia of lstMetaMedia.metaMedias" [routerLink]="'/media/'+metaMedia.key" button
    [media]="metaMedia">
  </ath-card>
</ath-horizontal> -->
