:host {
  ion-content {
    --padding-top: 50px;

    #fleche {
      width: 80%;
      height: auto;
      margin-top: 10rem;
      margin-left: -1rem;
    }

    ath-card {
      display: inline;
    }

    ion-button {
      --padding-end: 0px;
      --padding-start: 0px;
      --background: rgba(0, 0, 0, 0);
      margin-left: 0.5rem;
    }

    ion-slides {
      height: 20vh;
      overflow: visible;
    }


    .section {
      margin: 0;
      margin-left: 0.5rem;
      margin-top: 1rem;
    }

    .reverba {
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 4px;
      text-align: center;
      width: 100%;
      height: inherit;
    }

    // .reverba::after {

    //   transform: scale(0.9);
    //   // top: 67px;
    //   left: 0px;
    //   content: "";
    //   position: absolute;
    //   width: inherit;
    //   height: inherit;
    //   background-image: inherit;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   // z-index: -1;
    //   -webkit-animation: fadeIn 0.2s linear;
    //   animation: fadeIn 0.2s linear;
    //   // -webkit-filter: blur(20px);
    //   // filter: blur(6px);

    //   border: 2px solid black;

    // }
  }
}
